/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("assets\img\bank.jpg");
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    font-family: 'Noto Sans', sans-serif;
}
